.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input {
  outline: none;
}

.input:active {
  outline: none;
  border: 1px solid black;
}

button {
  padding: 10px 30px;
  background: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  font-family: Poppins;
}

p {
  margin: 0px;
  font-family: Poppins;
}

.line-through {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1;
  margin: 10px 0px 20px;
}

input {
  padding: 4px 15px;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: Poppins;
}

label {
  font-family: "Libre Baskerville";
  font-size: 14px;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}

select:focus {
  outline: none;
}

h3{
  margin:0px
}